body{
   
    font-family: sans-serif;
    
    
}
body::after {
    content: "";
    background-image: linear-gradient(to right, #56c596,#1f2f98)!important;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
  }
.navbar
{
    background-color: rgb(63, 165, 190);
    
}
.nav-link {
color: rgb(255, 255, 255) !important;
font-weight: 600;
text-align: left;
}

.nav-link:hover {
    background-color:black;
    }

.navbar-brand{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    
}

#titulo{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#dropdownMenu2{
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-top:3px;
}

#navtabs{
    margin-top: -20px;
    padding-top: 10px;
    padding-bottom: 1px; 
    background-color: #ffffff;
}

#slider{
    
    background-image: linear-gradient(to right, #56c596,#1f2f98);
    overflow: hidden;
    margin-top: 10px;
    
    
    
}

#sliders{
    padding-top:-20px;
    padding-bottom:100px;
    
}
#all{
    margin-left: 100px;
    margin-right: 100px;
}

    
/*--------availabitlity--------f------*/

#availability{
   
   background-image: linear-gradient(to right, #56c596,#1f2f98);
   padding-bottom: 10px;
   padding-top: 20px;
   
}

.container{
    margin: 0;
}
.vertical{
border-left: 2px solid #030303;
margin-right: 5px;
}

.form-control{
max-width: 170px;

}
#firstname {
    max-width: 250px;
}

#lastname{
    max-width: 250px;
}
.form-control-plaintext{
    max-width: 400px;
    border-width: 2px;
    border-color: #00eeff;
    border-color: rgb(218, 218, 218);
}


.form-control-plaintext:focus { 
    box-shadow: inset 0 1px 1px rgb(58, 162, 223), 0 0 8px rgba(46, 162, 230, 0.6);
}

.form-control-text{
    max-width: 50px;
}

 #expdate{
    text-align: left;
    margin-left: -140px;
 }

#first{
    border-width: 1px;
    border-color: rgb(206, 206, 206);
    border-radius: 5px;
}

#firste{
    border-width: 1px;
    border-color: rgb(206, 206, 206);
    border-radius: 5px;
}
.form-control-num{
max-width: 40px;
}

.col-auto{
margin-left: 15px;
margin-right: 5px;
padding-top: 5px;

}

.form-control-nam{
max-width: 40px;

}


.form-control-nam1{
max-width: 40px;

}
.form-control-nam2{
    max-width: 40px;
   
    
 } 
.form-control-nam3{
     max-width: 45px;
     
 } 
#searching{
    max-width: 235px;
    
    
    
} 
#promotitle{
    margin-left: 15px ;
}
/*--------location and num------------*/
.containers{
    
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    

}

.location{
    text-align: center;
    padding-top: 15px;
    font-family: 'Gill Sans', sans-serif;
    font-size: 16px;
}


.num{
    text-align: center;
    font-family: 'Gill Sans', sans-serif;
    font-size: 16px;
}

/*--------about------------*/
#about{
    content: "";
    background-image: linear-gradient(to right, #56c596,#1f2f98)!important;
    opacity: 1;
    padding-bottom: 20px;
   

}

.hotelname{
	
	padding: 10px;
	text-transform: uppercase;
    font-family: 'Gill Sans', sans-serif;
    
}

.desc, h1{
    color: white;
    font-family: 'Gill Sans', sans-serif;
    font-size: 14px;

}

/*--------service------------*/
#service{
    background-image: linear-gradient(to right, #56c596,#1f2f98)!important;
    padding-top: 10px;
}
.container1{
    margin-top: 5%;
    padding-bottom: 20px;
   
}
.card{
    position: relative;
    overflow: hidden;
}
.card:before{
    position: absolute;
    content: '';
    width: 80%;
    height: 220%;
    background: rgb(0, 204, 204,0.7);
    top: -50%;
    left: -100%;
    z-index: 1;
    transform: rotate(25deg);
    transform-origin: center top;
    transition: .5s;
}
.card:hover:before{
    left: 10%;
}
.card img{
    width: 100%;
    height: auto;
}
.card-text{
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: -70%;
    color: #fff;
    left: 0;
    z-index: 2;
    transition: 1.1s;
    font-family: 'Gill Sans', sans-serif;
    
}
.card-text h4 h6{
    font-family: poppins;
    font-family: 'Gill Sans', sans-serif;
}

.card:hover .card-text{
    top: 20px;
}
.card-title{
    font-weight: bold;
}

/*--------roomandsuites------------*/

.container2{
    background-color: white;
    padding-top: 15px;
    padding-bottom: 35px;
    margin-top: 25px;
}
.roomites{
    color: black;
    text-align: center;

}
.title::before {
    content: '';
    background: #1195b6;
    height: 5px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    transform: translateY(63px);
    display: block;
  
  }
  
 
/*--------special offers------------*/
.container3{
    background-color: white;
    padding-bottom: 25px;
}

.special{
    color: black;
    text-align: center;   
}

.col-md-3{
    margin-left: 65px;
}

#seeall{
    margin-top: 50px;
}

/*--------room and suite page------------*/
.container4{
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Gill Sans', sans-serif;
    font-size: 16px;
}

.container-sm{
    background-color: black;
    padding-top: 150px;
    padding-left: 50px;
    
}

.col-lg-2{
    background-color:#56c596 ;
    margin-left: 30px;
    margin-bottom: 15px;
    
}
.col-lg-3{
    background-color:#56c596 ;
    margin-bottom: 15px;
    padding-bottom: 5px;
    
    
}

.col{
    margin-bottom: 35px;
    margin-top: 5px ;
    margin-left: 20px;
}
#roomcheck{
    margin-top: 5px;
    margin-left: 35px;
}

/*--------banner promo--------bonus----*/
.terms{
    border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px;
}

#banner{
    background-image: linear-gradient(to right, #56c596,#1f2f98)!important;
    padding-top: 5%;
    
}
.abouts{ 
    margin-left: 30px;

}
.valid{ 
    margin-left: 30px;
    font-style: italic;
    font-size: 12px;
}
#bonusbutton{
    margin-left: 30px;
}
.earlytitle{
    margin-left: 30px;
}
#earlypic{
    margin-left: -20px;
    margin-bottom: 30px;
}
.bonusinfo{ 
    margin-left: 30px;

}
#otherpromotion{
    padding-top: 5%;
    padding-bottom: 5%;
}
.otherpromo{
    text-align: center;
    padding-bottom: 30px;
}
.term{
    color: white;
}

/*--------promotab------------*/
.promotiontab{
    text-align: center;
    color: black;
}
.titles::before {
    content: '';
    background: #1195b6;
    height: 5px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
    transform: translateY(63px);
    display: block;
  
}
  .promotionstitle{
      color: black;
      text-align: center;
  }

  .container-lg{
    background-image: linear-gradient(to right, #56c596,#1f2f98)!important;
    margin-top: 40px;
    padding-top: 50px;
    
}

.title1::before {
    content: '';
    background: #ffffff;
    height: 2px;
    width: 300px;
    margin-left: 170px;
    margin-right: auto;
    margin-bottom: 0px;
    transform: translateY(63px);
    display: block;
  
}

.title2::before {
    content: '';
    background: #ffffff;
    height: 2px;
    width: 390px;
    margin-left: 30px;
    margin-right: auto;
    margin-bottom: 0px;
    transform: translateY(63px);
    display: block;
  
}
.abouts1{
    text-align: center;
    margin-top: 30px;
    margin-left: 100px;
    font-family: 'Gill Sans', sans-serif;
    font-size: 16px;
}
.abouts3{
    text-align: center;
    margin-top: 30px;
    margin-right: 100px;
    font-family: 'Gill Sans', sans-serif;
    font-size: 16px;
}
    

.earlytitle{
    text-align: center;
    margin-left: 100px;
}
.earlytitle1{
    text-align: center;
    margin-right: 100px;
}

.promobonus{
    margin-left: 220px;
    margin-top: 50px;
    
}
.promobonus1{
    margin-left: 120px;
    margin-top: 50px;
}
#promobonus{
    margin-left: 20px;
}
#promopic1{
    height: 300px;
    margin-top: -50px;
    margin-left: 105px;
}

.containerss{
    background-color: white;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-top: 25px;
    margin-right: 10px;
}
#promotiontitle{
    margin-top: -20px;
}
.containersdeluxe{
    margin-top: -20px;
}


.containerssh{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
}

#promopic2{
    height: 300px;
    margin-top: -50px;
    margin-left: -8px;
}
.rightfix{
    padding-right: 50px;
}

.abouts2{
    text-align: center;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.bonustitle{
    text-align: center;
    margin-left: 30px;
}
.bonusbonus{
    margin-left: 140px;
    margin-top: 50px;
}
#bonusbonus{
    margin-left: 20px;
}
#availnow{
    border: 1px solid;
    box-shadow: 5px 10px #888888;
    margin-right: 20px;
   
}

#availnows{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    margin-left: 30px;
}
#standstand{
    margin-left: 100px;
}

.stanAmenities{
    margin-top:50px;
    
}
.titless{
    background-image: linear-gradient(to right, #56c596,#1f2f98)!important;
    padding-top: 10px;
    color: white;
    padding-bottom:10px;
    margin-bottom: -20px;
}

#gitna{
    color: white;
    text-align: center;
}

/*--------resrvation------------*/
.containerrese{
    padding-left: 10px;
    padding-bottom: 6px;
    margin-left: -10px;
    margin-top: -20px;
    margin-bottom: -4px;
    
}
.titlecheck{
    
    margin-bottom: 5px;

    padding-bottom: 10px;
    background-image: linear-gradient(to right, #56c596,#1f2f98)!important;
    color: white;
    
}
.titlechecks{
    
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(to right, #56c596,#1f2f98)!important;
    color: black;
    
}
#wowo{
    margin-left: 50px;
    padding-bottom: 20px;
    
    

}
#wowo1{
    margin-left: 50px;
    padding-bottom: 20px;
}
#wowo2{
    margin-left: 50px;
    padding-bottom: 20px;
}

.reservetitle{
    color: white;
    text-align: Left;
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.roomrates{
    padding-top: 15px;
    background-image: linear-gradient(to right, #56c596,#1f2f98)!important;
}

.roomtxt{
    color: white;
    text-align: left;
    margin-top: 10px;
}
.col-md-12{
    
    padding-bottom: 5px;
}
.pandr{
    color: white;
    text-align: center;
    margin-right: 90px ;
}

#vertical{
    border-left: 2px solid #030303;
    margin-right: 5px;
}
.containerish{
    background-color:white ;
    
    padding-top: 5px;
    font-family: 'Gill Sans', sans-serif;

}
.roomeb{
    color: black;
    margin-left: 30px;
    margin-top: 20px;
    font-family: 'Gill Sans', sans-serif;
}
.roomeb1{
    color: black;
    margin-left: 30px;
    margin-top: 20px;
    font-family: 'Gill Sans', sans-serif;
}


#sliderish{
    margin-top: -20px;
}
.policies{
    margin-left: 30px;
    margin-top: 20px;
    font-family: 'Gill Sans', sans-serif;
}
.policies1{
    margin-left: 30px;
    margin-top: 20px;
    font-family: 'Gill Sans', sans-serif;
    font-weight: bold;

}
.bold{
    font-weight: bold;
}

.termss{
    border-left: 4px solid #7b1798;
    margin-top: 10px;
    margin-bottom: 50px;   
}

.titlesa::before {
    content: '';
    background: #000000;
    height: 1px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
    transform: translateY(63px);
    display: block;
  
}

.containerearly{
    background-color:white ;
    margin-top: -50px;
    padding-bottom: 20px;
}
.availroom{
    margin-left: 50px;
    margin-top: 20px;
    font-weight: bold;
}


#avilnows{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    margin-left: 30px;
    margin-top: 30px;
}
.pricey{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    line-height: 1.3em;
    margin-top: 10px;
}
.sizey{
    font-size: 12px;
    line-height: 0.1em;
}
.sizeys{
    font-size: 12px;
    line-height: 1em;
    text-align: center;
    
}
.sizeyss{
    font-size: 12px;
    line-height: 0.9em;
    text-decoration: none;
    
}
.none{
    line-height: 1em;
    text-decoration: none;
}
.btn{
    padding-left: 10px;
    text-align: center;
}
.cards{
    padding-right: 40px;
}

#sliderishh{
    margin-top: 20px;
}
.slider {
    padding-right: 10px;
    padding-left: 15px;
    
    
}
.carousel{
    margin-bottom: -10px;
    margin: 0 0 0 90 ;
    margin-top: -20px;
    
    
}


/*--------checkout------------*/
.containercheck{
    background-color:rgb(175, 112, 112);
    padding-bottom: 10px;

}
.containercheckuser{
    padding-bottom: 5px;
    background-image: linear-gradient(to right, #56c596,#1f2f98)!important;
}
.label{
    color: black;
    font-family: 'Gill Sans', sans-serif;
}

.form-group{
    margin-left: 30px ;
}

.user{
    margin-left: 20px ;
}
.titlecheck{
    background-color:white ;
}
#whitey{
    background-color:white ;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 30px;
}
.personals{
    color: black;
    margin-left: 40px;
}
.buttwo{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#twobutt{
     background-image: linear-gradient(to right, #56c596,#1f2f98)!important;
     padding-bottom: 30px;
     
}
#twobutts{
    background-image: linear-gradient(to right, #56c596,#1f2f98)!important;
    padding-bottom: 40px;
    margin-left: -40px;
    
}
#twobuttt{
    margin-left: -40px;
}

/*---modifyresreve-------*/
.modifhy{
    text-align: left;
    padding-left: 40px;
    font-weight: bold;
}
.containermod{
    background-image: linear-gradient(to right, #56c596,#1f2f98)!important;
    color: white;
    padding-bottom: 20px;

}
#backmod{
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 0.9em;
}
.containermodi{
    background-color:white ;
    padding-top: 5px;
}
.modifhye{
    text-align: center;
    padding-bottom: 10px;
    line-height: 0.5em;
   
}

.userinfo{
    padding-left: 100px;
}
.containernew{
    background-color:rgb(141, 121, 121) ;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}
#bannerss{
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 100px;
    
   
}
.new{
    font-family: 'Gill Sans', sans-serif;
}
#modifyone{
    background-color: white;
    padding-bottom: 10px;
}
#modify{
    padding-top: -10px;
}

#modifytwo{
    
    margin-left: 40px;
    
}
#modifdif{
    background-color: white;
    
}
.modifhys{
    text-align: left;
    padding-left: 40px;
}

#pindot{
    text-align: center;
}
.containerchecks{
    background-color:rgb(109, 148, 59) ;
    padding-bottom: 10px;
}
#useredits{
    padding-bottom: -50px;
}
#usereditsss{
    padding-bottom: 20px;
}
.mid{
    text-align: center;
    color:white;
}

.col-auto-first{
    margin-left: 20px;
   
}

/*-------availdate----*/

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: "Lato", sans-serif;
}

.calendar {
    background-color: #fff;
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 90px;

}


.month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 30px;
    text-align: center;
    background-color: #2ecc71;
    color: #fff;
}
.monthh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 30px;
    text-align: center;
    background-color: #2ecc71;
    color: #fff;
}

.weekdays {
    background-color: #27ae60;
    color: #fff;
    padding: 7px 0;
    display: flex;
}
.weekdayss {
    background-color: #27ae60;
    color: #fff;
    padding: 7px 0;
    display: flex;
}

.days {
    font-weight: 300;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}
.dayss {
    font-weight: 300;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

.weekdays div,
.days div {
    text-align: center;
    width: 14.28%;
}
.weekdayss div,
.dayss div {
    text-align: center;
    width: 14.28%;
}

.days div {
    padding: 10px 0;
    margin-bottom: 10px;
    transition: all 0.4s;
}
.dayss div {
    padding: 10px 0;
    margin-bottom: 10px;
    transition: all 0.4s;
}

.prev_date {
    color: #999;
}
.prevv_date {
    color: #999;
}


.days div:hover {
    cursor: pointer;
    background-color: #dfe6e9
}
.dayss div:hover {
    cursor: pointer;
    background-color: #dfe6e9
}

.prev,
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 23px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.prevv,
.nextt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 23px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.prev:hover,
.next:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

.prevv:hover,
.nextt:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

#month {
    font-size: 30px;
    font-weight: 500;
}
#monthhs {
    font-size: 30px;
    font-weight: 500;
}

.availtitles{
    text-align: center;
    
}

#backcolor{
    background-color: white;
    padding-top: 10px;
}

#footleg{
    text-align: center;
    padding-bottom: 40px;
}

#sliderearly{
    padding-bottom:50px;
}
/*----searcj------*/

.searchlabels{
    font-weight: bold;
    color: black;
}


.searchlabel{
    
    color: black;
}

#search{
    background-color: white;
    padding-bottom: 40px;
}


#buttsearch{
    padding-left: 20px;
    padding-right: 20px;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }

  #adultcount2l{
      margin-left: 41%;
  }
  #adultcount3l{
      margin-left: 73;
  }
  .col-sm-5{
      margin-left: 29px;
      margin-top: 20px;
      margin-bottom: 10px;

  }
  #termsss{
      color: white;
      font-family: 'Gill Sans', sans-serif;
  }
  #twobuttcheckout{
      margin-left: 50px;
      margin-right: 50px;
      padding-bottom: 50px;
  }