body{
    background: url("../../public/images/backgroundimage.jpg") no-repeat center center fixed;
    background-size: cover;

    height: 100%;

    font-family: 'Poppins', sans-serif;;
    font-weight: bold;
}

.bodyback{
    background-color: rgba(255, 254, 254, 0.349);
}


