body{
    background: url("../../public/images/backgroundimage.jpg") no-repeat center center fixed;
    background-size: cover;

    height: 100%;

    font-family: 'Poppins', sans-serif;;
    font-weight: bold;
}

.bodyback{
    background-color: rgba(165, 165, 165, 0.199);
}


.centerbox
{
    background-color: white;
}

.sectioncolor
{
    background: #ececec;

}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}