body{
    background-image: url("../../public/images/backgroundimage.jpg");
    background-size: cover;
    font-family: 'Poppins', sans-serif;;
    font-weight: bold;
}

.bodyback{
    background-color: rgba(255, 254, 254, 0.349);
}


