
@media (min-width: 992px){
    navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
        }
    }

    .navcolor{

        background-color: #f1ceaf;
    }